<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6 p-3">
        <h5> <b>Principal</b> </h5>
        <ul class="list-unstyled">
          <li> <a href="#">Home</a> </li>
          <li> <a href="#">Produtos</a> </li>
          <li> <a href="#">Preços</a> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-6 p-3">
        <h5> <b>Outros</b> </h5>
        <ul class="list-unstyled">
          <li> <a href="#">FAQ</a> </li>
          <li> <a href="#">Recursos</a> </li>
          <li> <a href="#">Carreira</a> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 p-3">
        <h5> <b>Sobre</b> </h5>
        <p class="mb-0"> I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-3">
        <h5> <b>Redes Sociais</b> </h5>
        <div class="row">
          <div class="col-md-12 d-flex align-items-center justify-content-between my-2"> <a href="#">
              <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
            </a> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0 mt-2">© 2019 Dindintop. All rights reserved</p>
      </div>
    </div>
  </div>
</div>
<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value;
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
